---
# - misc-noexcept-move-constructor is disabled because of a bug with = default.
#   See https://llvm.org/bugs/show_bug.cgi?id=24712 .
#
# - modernize-pass-by-value is disabled because it causes many "false" warnings
#   and I have never really liked the recommendation in general. It is too
#   broad. It also seems like the C++ community has swung around a bit on this
#   in later years. See for instance Effective Modern C++ by Scott Meyers.
#
# - modernize-raw-string-literal is disabled because it is too agressive. See
#   https://llvm.org/bugs/show_bug.cgi?id=30964
#
# - modernize-use-default is disabled because of a bug with unions. See
#   https://llvm.org/bugs/show_bug.cgi?id=27926 .
#
# - readability-implicit-bool-cast is disabled since it currently is too
#   agressive. Even if AllowConditionalPointerCasts is enabled it only allows
#   casts in if statements, not in e.g. while and for statements. See
#   https://llvm.org/bugs/show_bug.cgi?id=27911 .

Checks: "\
google-build-namespaces,\
google-build-using-namespace,\
google-explicit-constructor,\
google-global-names-in-headers,\
google-readability-casting,\
misc-*,\
-misc-noexcept-move-constructor,\
modernize-*,\
-modernize-pass-by-value,\
-modernize-raw-string-literal,\
-modernize-use-default,\
performance-*,\
readability-*,\
-readability-implicit-bool-cast,\
"

HeaderFilterRegex: '^src/'

CheckOptions:
  - key:   misc-assert-side-effect.CheckFunctionCalls
    value: '1'
  - key:   modernize-loop-convert.NamingStyle
    value: lower_case
  - key:   readability-braces-around-statements.ShortStatementLines
    value: '8'
  - key:   readability-function-size.LineThreshold
    value: '64'
  - key:   readability-identifier-naming.AbstractClassCase
    value: CamelCase
  - key:   readability-identifier-naming.ClassCase
    value: CamelCase
  - key:   readability-identifier-naming.ClassConstantCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.ClassMemberCase
    value: lower_case
  - key:   readability-identifier-naming.ClassMethodCase
    value: lower_case
  - key:   readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.ConstantMemberCase
    value: lower_case
  - key:   readability-identifier-naming.ConstantParameterCase
    value: lower_case
  - key:   readability-identifier-naming.ConstexprFunctionCase
    value: lower_case
  - key:   readability-identifier-naming.ConstexprMethodCase
    value: lower_case
  - key:   readability-identifier-naming.ConstexprVariableCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.EnumCase
    value: CamelCase
  - key:   readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.FunctionCase
    value: lower_case
  - key:   readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.GlobalFunctionCase
    value: lower_case
  - key:   readability-identifier-naming.GlobalVariableCase
    value: lower_case
  - key:   readability-identifier-naming.LocalConstantCase
    value: lower_case
  - key:   readability-identifier-naming.LocalVariableCase
    value: lower_case
  - key:   readability-identifier-naming.MemberCase
    value: lower_case
  - key:   readability-identifier-naming.MethodCase
    value: lower_case
  - key:   readability-identifier-naming.NamespaceCase
    value: CamelCase
  - key:   readability-identifier-naming.ParameterCase
    value: lower_case
  - key:   readability-identifier-naming.ParameterPackCase
    value: lower_case
  - key:   readability-identifier-naming.PrivateMemberCase
    value: lower_case
  - key:   readability-identifier-naming.PrivateMethodCase
    value: lower_case
  - key:   readability-identifier-naming.ProtectedMemberCase
    value: lower_case
  - key:   readability-identifier-naming.ProtectedMethodCase
    value: lower_case
  - key:   readability-identifier-naming.PublicMemberCase
    value: lower_case
  - key:   readability-identifier-naming.PublicMethodCase
    value: lower_case
  - key:   readability-identifier-naming.StaticConstantCase
    value: lower_case
  - key:   readability-identifier-naming.StaticVariableCase
    value: lower_case
  - key:   readability-identifier-naming.StructCase
    value: CamelCase
  - key:   readability-identifier-naming.TemplateParameterCase
    value: CamelCase
  - key:   readability-identifier-naming.TemplateTemplateParameterCase
    value: CamelCase
  - key:   readability-identifier-naming.TypeTemplateParameterCase
    value: CamelCase
  - key:   readability-identifier-naming.TypedefCase
    value: CamelCase
  - key:   readability-identifier-naming.UnionCase
    value: CamelCase
  - key:   readability-identifier-naming.ValueTemplateParameterCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.VariableCase
    value: lower_case
  - key:   readability-identifier-naming.VirtualMethodCase
    value: lower_case
  - key:   readability-implicit-bool-cast.AllowConditionalPointerCasts
    value: '1'
...

