---
# - bugprone-exception-escape is disabled because it causes too many false
#   positives. E.g. if a function marked noexcept needs to take a mutex lock
#   and that throws a std::system_error, what other reasonable thing is there
#   to do than to exit the program? This is well defined. (std::terminate() is
#   called if an exception is thrown in a method marked noexcept.) There also
#   seems to be a bug with std::variant/std::monostate. Warnings are emitted
#   even though only std::variant/std::monostate methods that should be noexcept
#   are called in a function marked noexcept. Unclear if the bug is in
#   clang-tidy or libstdc++. TODO: Fixed? File bug(s)?
#
# - bugprone-suspicious-semicolon is broken with "if constexpr" in templates. See
#   https://bugs.llvm.org/show_bug.cgi?id=35824 .
#
# - clang-analyzer-* is disabled because... googletest... *sigh*.
#
# - modernize-pass-by-value is disabled because it causes many "false" warnings
#   and I have never really liked the recommendation in general. It is too
#   broad. It also seems like the C++ community has swung around a bit on this
#   in later years. See for instance Effective Modern C++ by Scott Meyers.
#
# - modernize-avoid-c-arrays is disabled because it is not practical to replace
#   every use of a C array with std::array. Not even possible in some cases (e.g.
#   string constants and external API that has certain callback signatures).
#
# - modernize-raw-string-literal is disabled because it is too agressive. See
#   https://llvm.org/bugs/show_bug.cgi?id=30964
#
# - modernize-use-nodiscard is disabled because it is too agressive. It warns in
#   many cases where it does not matter (simple getters) and/or where the
#   compiler might as well emit a warning. Littering almost every code with
#   [[nodiscard]] is not useful. Better to use [[nodiscard]] judiciously where
#   it really does matter if the return value is unused (e.g. critical OS
#   operations that can fail at runtime and exception is not suitable, for
#   handles/ids where it is an almost critical programming error if return value
#   is not used, etc.). Perhaps reevaluate in future if check behaves more
#   reasonable by default or if it is made more configurable.
#
# - readability-magic-numbers is disabled because it is too agressive. E.g. it
#   warns for numbers in data "arrays" (e.g. each byte(!) in image data of image
#   reader tests) and there is no way to turn it off locally (have to NOLINT
#   each line (!)). It also warns for common literals like 2^x (there is an
#   option to ignore this), 2^x - 1, 0.5 etc. Adding constants instead of
#   literals in many of these cases does not help with readability. It will also
#   warn for tests like this:
#
#   EXPECT_EQ(123, string_to_int("123"));
#
#   Adding a constant here does not improve readability. It is possible to list
#   numbers to ignore. But the check should be smarter by default and/or needs to
#   have better configuration options (e.g. some way to ignore literals in lists
#   with more than x elements, EXPECT_EQ, etc.) for it to be usable.
#
# - readability-misleading-indentation is broken with "if constexpr". See
#   https://bugs.llvm.org/show_bug.cgi?id=32204 .

Checks: "\
bugprone-*,\
-bugprone-exception-escape,\
-bugprone-suspicious-semicolon,\
-clang-analyzer-*,\
google-build-namespaces,\
google-build-using-namespace,\
google-default-arguments,\
google-explicit-constructor,\
google-global-names-in-headers,\
google-readability-casting,\
misc-*,\
modernize-*,\
-modernize-avoid-c-arrays,\
-modernize-pass-by-value,\
-modernize-raw-string-literal,\
-modernize-use-nodiscard,\
performance-*,\
readability-*,\
-readability-magic-numbers,\
-readability-misleading-indentation,\
"

HeaderFilterRegex: '^src/'

CheckOptions:
  - key:   misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 1
  - key:   modernize-loop-convert.NamingStyle
    value: lower_case
  - key:   modernize-use-default-member-init.UseAssignment
    value: 1
  - key:   readability-braces-around-statements.ShortStatementLines
    value: '8'
  - key:   readability-function-size.LineThreshold
    value: '100'
  - key:   readability-function-size.ParameterThreshold
    value: '8'
  - key:   readability-identifier-naming.ClassCase
    value: CamelCase
  - key:   readability-identifier-naming.ClassMemberCase
    value: lower_case
  - key:   readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.ConstantMemberCase
    value: lower_case
  - key:   readability-identifier-naming.ConstantMemberSuffix
    value: '_'
  - key:   readability-identifier-naming.ConstantParameterCase
    value: lower_case
  - key:   readability-identifier-naming.ConstexprVariableCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.EnumCase
    value: CamelCase
  - key:   readability-identifier-naming.FunctionCase
    value: lower_case
  - key:   readability-identifier-naming.LocalConstantCase
    value: lower_case
  - key:   readability-identifier-naming.MemberCase
    value: lower_case
  - key:   readability-identifier-naming.MethodCase
    value: lower_case
  - key:   readability-identifier-naming.NamespaceCase
    value: CamelCase
  - key:   readability-identifier-naming.ParameterCase
    value: lower_case
  - key:   readability-identifier-naming.PrivateMemberCase
    value: lower_case
  - key:   readability-identifier-naming.PrivateMemberSuffix
    value: '_'
  - key:   readability-identifier-naming.ProtectedMemberCase
    value: lower_case
  - key:   readability-identifier-naming.ProtectedMemberSuffix
    value: '_'
  - key:   readability-identifier-naming.StaticConstantCase
    value: lower_case
  - key:   readability-identifier-naming.StructCase
    value: CamelCase
  - key:   readability-identifier-naming.TemplateParameterCase
    value: CamelCase
  - key:   readability-identifier-naming.TypedefCase
    value: CamelCase
  - key:   readability-identifier-naming.UnionCase
    value: CamelCase
  - key:   readability-identifier-naming.ValueTemplateParameterCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.VariableCase
    value: lower_case
  - key:   readability-implicit-bool-conversion.AllowIntegerConditions
    value: '1'
  - key:   readability-implicit-bool-conversion.AllowPointerConditions
    value: '1'
...

