[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/sork"]
	path = external/sork
	url = https://github.com/martin-ejdestig/sork
